<!DOCTYPE html>
 <H1>Greetings, {{user_name}}!</H1>

<a href="{{profile_url}}">View Profile Information</a>

<form id="logout_button"  action="{{logout_url}}" method="POST">
    <input type='submit' value='Logout'>
</form>