<!DOCTYPE html>
 <H1>Greetings, {{user_name}}!</H1>

<p>Profile Body:<br/> {{profile}}</p>
<p>Content Size: {{body_size}}</p>

<form id="logout_button"  action="/auth/logout" method="POST">
    <input type='submit' value='Logout'>
</form>