<!DOCTYPE html>
 <H1>IBM ID Test</H1>
<p>{{info_msg}}</p>
<p>{{appInfo}}</p>
<p>{{services}}</p>

<form id="login_button"  action="/auth/login" method="POST">
    <input type='submit' value='logout'>Login
</form>
