<!DOCTYPE html>
<html>
    <header>
        <title>IBM ID Test: sinatra99</title>
        <link rel="stylesheet" href="/stylesheets/style.css" type="text/css" />
    </header>
    <body>
{{{yield}}}
	<body>
</html>
