<!DOCTYPE html>
<html>
    <header>
        <title>IBM ID Test: sinatra99</title>
        <link rel="stylesheet" href="stylesheets/style.css" type="text/css" />
		<script type="text/javascript">
		</script>
    </header>
    <body>
    <H1>IBM ID Test</H1>
    	<p>{{doit}}</p>
    </body>
</html>
