<!DOCTYPE html>
 <H1>Access Token</H1>
<p>
	Authorization Code: {{auth_code}}<br/>
	Access Token: {{token}}
</p>

<H2>User Info</H2>
<p>
	{{#user_info}}
	 	{{key}}: {{value}} <br/>
	{{/user_info}}
</p>
