<!DOCTYPE html>

<H2>Web Server</H2>
<ul>
	<li>Ruby Version: {{environment.ruby_version}}</li>
	<li>Platform: {{environment.platform}}</li>
</ul>

<H2>IBM ID URLs</H2>
<ul>
{{#credentials}}
	<li>{{key}}: {{value}} </li>
{{/credentials}}
</ul>

<H2>Access Token</H2>
<ul>
	<li>Authorization Code: {{oauth2.auth_code}}</li>
	<li>Access Token: {{oauth2.token}}</li>
</ul>

<H2>User Info</H2>
<ul>
{{#user_info}}
 	<li>{{key}}: {{value}}</li>
{{/user_info}}
</ul>

<p><form id="logout_button"  action="{{logout_url}}" method="POST">
    <input type='submit' value='Logout'>
</form></p>